{{- if eq .chezmoi.os "linux" -}}
{{- $toolVersionsFile := joinPath .chezmoi.sourceDir (print  "dot_tool-versions_" .machineType) -}}
{{- $versions := (include $toolVersionsFile | replaceAllRegex "([-._A-Za-z0-9]+) ([-._A-Za-z0-9]+)" "${1}=\"${2}\"" | fromToml) -}}
#! /bin/bash
{{ range ( keys $versions | sortAlpha ) }}
# Install {{ . }} asdf plugin and version
asdf plugin list | grep -qx "{{ . }}" || {
    printf "asdf: Installing plugin {{ . }}...\n"
    asdf plugin add "{{ . }}" 2>&1 | sed -e "s/^/asdf: plugin add> /g"
}
asdf list "{{ . }}" | grep -q "{{ index $versions . }}" || {
    printf "asdf: Installing tool version {{ . }} {{ index $versions . }}...\n"
    asdf install "{{ . }}" "{{ index $versions . }}" 2>&1 | sed -e "s/^/asdf: install {{ . }} {{ index $versions . }}> /g"
}
for oldVersion in $(asdf list "{{ . }}" | grep -v "{{ index $versions . }}" | sed -e "s/[ \*]//g"); do
    printf "Removing old tool version {{ . }} ${oldVersion}...\n"
    asdf uninstall "{{ . }}" "$oldVersion" 2>&1 | sed -e "s/^/asdf: uninstall {{ . }} ${oldVersion}> /g"
done
{{ end }}
{{- end -}}
