{{- if eq .chezmoi.os "linux" -}}
#! /bin/bash

# Install missing go tools into current go version
asdf reshim
{{ range .goTools -}}
{{ if not (isExecutable (lookPath (last (.name | splitList "/")))) }}
{{ if not .goauth }}GOAUTH=""; {{ end }}{{ if not .goproxy }}GOPROXY=""; {{ end }}(set -x; go install {{ .name }}@{{ .version }})
{{ end -}}
{{ end -}}
asdf reshim
{{ end -}}
