{{- if eq .chezmoi.os "linux" -}}
#! /bin/bash

# SHA sums for triggering script execution:
# {{ include ".chezmoidata/asdf.json" | sha256sum }}
# {{ include (joinPath .chezmoi.sourceDir (print "private_dot_tool-versions_" .machineType)) | sha256sum }}

{{ range $plugin := .asdf -}}
# Install {{ $plugin.name }} asdf plugin and versions
asdf plugin list | grep -qx "{{ $plugin.name }}" || {
    printf "asdf: Installing plugin {{ $plugin.name }}...\n"
    asdf plugin add "{{ $plugin.name }}" "{{ $plugin.url }}" 2>&1 | sed -e "s/^/asdf: plugin add {{ $plugin.name }}> /g"
}
{{- range $version := $plugin.versions }}
asdf list "{{ $plugin.name }}" | grep -q "{{ $version }}" || {
    printf "asdf: Installing tool version {{ $plugin.name }} {{ $version }}...\n"
    asdf install "{{ $plugin.name }}" "{{ $version }}" 2>&1 | sed -e "s/^/asdf: install {{ $plugin.name }} {{ $version }}> /g"
}
{{- end }}
{{- if $plugin.default }}
asdf set -u "{{ $plugin.name }}" "{{ $plugin.default }}"
{{- end }}
{{ end }}
asdf reshim
{{ end -}}
