{{- if eq .chezmoi.os "linux" -}}
#! /bin/bash
{{ range $name, $value := .asdf }}
# Install {{ $name }} asdf plugin and version
asdf plugin list | grep -qx "{{ $name }}" || {
    printf "asdf: Installing plugin {{ $name }}...\n"
    asdf plugin add "{{ $name }}" "{{ get $value "url" }}" 2>&1 | sed -e "s/^/asdf: plugin add {{ $name }}> /g"
}
{{- if ne (get $value "version") "" }}
asdf list "{{ $name }}" | grep -q "{{ get $value "version" }}" || {
    printf "asdf: Installing tool version {{ $name }} {{ $value.version }}...\n"
    asdf install "{{ $name }}" "{{ $value.version }}" 2>&1 | sed -e "s/^/asdf: install {{ $name }} {{ $value.version }}> /g"
    asdf set -u "{{ $name }}" "{{ $value.version }}"
}
{{ else }}
asdf list "{{ $name }}" 2>&1 | grep -q "No compatible versions installed" && {
    version="$(asdf list all '{{ $name }}' | sort -V | tail -n 1)"
    printf "asdf: Installing tool version {{ $name }} ${version}...\n"
    asdf install "{{ $name }}" "${version}" 2>&1 | sed -e "s/^/asdf: install {{ $name }} ${version}> /g"
    asdf set -u "{{ $name }}" "${version}"
}
{{- end }}
{{- if or (not (hasKey $value "deleteOldVersions")) (default (get $value "deleteOldVersions") false) }}
for oldVersion in $(asdf list "{{ $name }}" | grep -v "{{ get $value "version" }}" | sed -e "s/[ \*]//g"); do
    printf "Removing old tool version {{ $name }} ${oldVersion}...\n"
    asdf uninstall "{{ $name }}" "$oldVersion" 2>&1 | sed -e "s/^/asdf: uninstall {{ $name }} ${oldVersion}> /g"
done
{{ end }}
{{- end }}
asdf reshim
{{ end -}}
