{{- $machineTypes := list "personal" "work" -}}
{{- $machineTypeDefault := "" -}}
{{- if eq .chezmoi.username "phealy" -}}
    {{- $machineTypeDefault = "personal" -}}
{{- else if eq .chezmoi.username "pahealy" -}}
    {{- $machineTypeDefault = "work" -}}
{{- end -}}
{{- $machineType := promptChoiceOnce . "machineType" "Is this a personal or work machine?" $machineTypes $machineTypeDefault -}}
{{- $email := "" -}}
{{- if eq $machineType "personal" -}}
    {{- $email = "phealy@phealy.com" -}}
{{- else -}}
    {{- $email = "patrick.healy@microsoft.com" -}}
{{- end -}}
{{ if eq $machineType "work" }}encryption: age
age:
    identity: ~/.config/chezmoi-age/encrypt.key
    recipient: age15r8j3elnljrlgq7unclq6m9k48kqvsv4vrxxer7cat0emx33my0q0vpv87
{{- end }}
chezmoi:
    progress: true
    add:
        secrets: error
{{ if eq $machineType "work" }}azureKeyVault:
    defaultVault: pahealyaks
{{- end }}
data:
    machineType: {{ $machineType | quote }}
    name: "Patrick W. Healy"
    email: {{ $email | quote }}
{{ if eq $machineType "work" }}    goTools:
        - name: github.com/phealy/git-credential-azure-cli
          version: v0.1.4
          goproxy: false
          goauth: false
{{- end }}

merge:
  command: "bash"
  args:
  - "-c"
  - '{{ `cp {{ .Target | quote }} {{ printf "%s.base" .Target | quote }} && code --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf "%s.base" .Target | quote }} {{ .Source | quote }}` }}'

