" Vim defaults {{"{{/*fold-start*/}}"}}
set nocompatible
if version >= 800
    unlet! skip_defaults_vim
    source $VIMRUNTIME/defaults.vim
endif
" {{"{{/*fold-end*/}}"}}
" Colors {{"{{/*fold-start*/}}"}}
{{ if stat (joinPath .chezmoi.homeDir ".local/share/draculapro/themes/vim") -}}
packadd! dracula_pro
let g:dracula_colorterm = 0
colorscheme dracula_pro_van_helsing
{{- else }}
colorscheme badwolf
{{- end }}
syntax enable           " enable syntax processing

"set termguicolors
" {{"{{/*fold-end*/}}"}}
" Misc {{"{{/*fold-start*/}}"}}
set backspace=indent,eol,start
let g:vimwiki_list = [{'path': '~/.wiki/'}]
set clipboard=unnamed
set shortmess=I " Read :help shortmess for everything else.
set virtualedit+=onemore
" {{"{{/*fold-end*/}}"}}
" Spaces & Tabs {{"{{/*fold-start*/}}"}}
set tabstop=4           " 4 space tab
set expandtab           " use spaces for tabs
set softtabstop=4       " 4 space tab
set shiftwidth=4
set modeline
set modelines=1
filetype indent on
filetype plugin on
set autoindent
" {{"{{/*fold-end*/}}"}}
" UI Layout {{"{{/*fold-start*/}}"}}
set number              " show line numbers
set showcmd             " show command in bottom bar
set nocursorline        " highlight current line
set wildmenu
set lazyredraw
set showmatch           " higlight matching parenthesis
set fillchars+=vert:┃
" {{"{{/*fold-end*/}}"}}
" Searching {{"{{/*fold-start*/}}"}}
set ignorecase          " ignore case when searching
set incsearch           " search as characters are entered
set hlsearch            " highlight all matches
" {{"{{/*fold-end*/}}"}}
" Folding {{"{{/*fold-start*/}}"}}
"=== folding ===
set foldmethod=indent   " fold based on indent level
set foldnestmax=10      " max 10 depth
set foldenable          " don't fold files by default on open
nnoremap <space> za
set foldlevelstart=10   " start with fold level of 1
" {{"{{/*fold-end*/}}"}}
" Line Shortcuts {{"{{/*fold-start*/}}"}}
nnoremap j gj
nnoremap k gk
nnoremap gV `[v`]
" {{"{{/*fold-end*/}}"}}
" Leader Shortcuts {{"{{/*fold-start*/}}"}}
let mapleader=","
nnoremap <leader>m :silent make\|redraw!\|cw<CR>
nnoremap <leader>h :A<CR>
nnoremap <leader>ev :vsp $MYVIMRC<CR>
nnoremap <leader>et :exec ":vsp /Users/dblack/notes/vim/" . strftime('%m-%d-%y') . ".md"<CR>
nnoremap <leader>ez :vsp ~/.zshrc<CR>
nnoremap <leader>sv :source $MYVIMRC<CR>
nnoremap <leader>l :call <SID>ToggleNumber()<CR>
nnoremap <leader><space> :noh<CR>
nnoremap <leader>s :mksession<CR>
nnoremap <leader>a :Ag 
nnoremap <leader>c :SyntasticCheck<CR>:Errors<CR>
nnoremap <leader>1 :set number!<CR>
nnoremap <leader>d :GoDoc 
nnoremap <leader>t :TestFile<CR>
nnoremap <leader>r :call <SID>RunFile()<CR>
nnoremap <leader>b :call <SID>BuildFile()<CR>
vnoremap <leader>y "+y
" {{"{{/*fold-end*/}}"}}
" CtrlP {{"{{/*fold-start*/}}"}}
let g:ctrlp_match_window = 'bottom,order:ttb'
let g:ctrlp_switch_buffer = 0
let g:ctrlp_working_path_mode = 0
let g:ctrlp_custom_ignore = '\vbuild/|dist/|venv/|target/|\.(o|swp|pyc|egg)$'
" {{"{{/*fold-end*/}}"}}
" Syntastic {{"{{/*fold-start*/}}"}}
let g:syntastic_python_flake8_args='--ignore=E501'
let g:syntastic_ignore_files = ['.java$']
let g:syntastic_python_python_exec = 'python3'
" {{"{{/*fold-end*/}}"}}
" AutoGroups {{"{{/*fold-start*/}}"}}
augroup configgroup
    autocmd!
    autocmd VimEnter * highlight clear SignColumn
    "autocmd BufWritePre *.php,*.py,*.js,*.txt,*.hs,*.java,*.md,*.rb :call <SID>StripTrailingWhitespaces()
    autocmd BufEnter *.cls setlocal filetype=java
    autocmd BufEnter *.zsh-theme setlocal filetype=zsh
    autocmd BufEnter Makefile setlocal noexpandtab
    autocmd BufEnter *.sh setlocal tabstop=2
    autocmd BufEnter *.sh setlocal shiftwidth=2
    autocmd BufEnter *.sh setlocal softtabstop=2
    autocmd BufEnter *.py setlocal tabstop=4
    autocmd BufEnter *.md setlocal ft=markdown
    autocmd BufEnter *.go setlocal noexpandtab
    autocmd BufEnter *.avsc setlocal ft=json
augroup END
" {{"{{/*fold-end*/}}"}}
" Testing {{"{{/*fold-start*/}}"}}
let test#strategy = 'neovim'
let test#python#runner = 'nose'
" {{"{{/*fold-end*/}}"}}
" Backups {{"{{/*fold-start*/}}"}}
set backup
set backupdir=~/.vim-tmp,~/.tmp,/var/tmp,/tmp
set backupskip=~/tmp/*,/tmp/*,/private/tmp/*
set directory=~/.vim-tmp,~/.tmp,/var/tmp,/tmp
set writebackup
" {{"{{/*fold-end*/}}"}}
" History {{"{{/*fold-start*/}}"}}
set history=10000
" {{"{{/*fold-end*/}}"}}
" YAML {{"{{/*fold-start*/}}"}}
" add yaml stuffs
" au! BufNewFile,BufReadPost *.{yaml,yml} set filetype=yaml foldmethod=indent
" autocmd FileType yaml setlocal ts=2 sts=2 sw=2 expandtab
" {{"{{/*fold-end*/}}"}}
" Disable mouse {{"{{/*fold-start*/}}"}}
set mouse=
" {{"{{/*fold-end*/}}"}}

" vim:foldmethod=marker:foldlevel=0:foldmarker={{"{{/*fold-start*/}},{{/*fold-end*/}}"}}:
