[user]
	email = {{ .email }}
	name = {{ .name }}
[push]
	default = simple
[submodule]
	recurse = true
[init]
	defaultBranch = main
[credential]
	helper = cache
{{- if and (eq .machineType "work") (not (empty (lookPath "gh"))) }}
	helper = !gh auth git-credential
{{- end -}}
{{- if and (eq .machineType "work") (not (empty (lookPath "git-credential-manager"))) }}
	helper = /usr/bin/git-credential-manager
	credentialStore = secretservice
{{- end -}}
{{- if and (eq .machineType "work") (not (empty (lookPath "git-credential-azure-cli"))) }}
{{- print "\n\thelper = " (lookPath "git-credential-azure-cli") }}
{{- end -}}
{{- if and (eq .machineType "work") (not (empty (lookPath "git-credential-azure-cli"))) }}
[azureCliCredentialHelper]
	allowedDomain = visualstudio.com
	allowedDomain = dev.azure.com
	allowedDomain = goproxyprod.goms.io
[azureCliCredentialHelper "https://dev.azure.com"]
	resource = https://tfsprodwus24.visualstudio.com
	tenant = 72f988bf-86f1-41af-91ab-2d7cd011db47
[azureCliCredentialHelper "https://msazure.visualstudio.com"]
	resource = https://tfsprodwus24.visualstudio.com
	tenant = 72f988bf-86f1-41af-91ab-2d7cd011db47
[azureCliCredentialHelper "https://goproxyprod.goms.io"]
	resource = https://microsoft.onmicrosoft.com/AKSGoProxyMSFT
	tenant = 72f988bf-86f1-41af-91ab-2d7cd011db47
{{- end }}
{{- if and (eq .machineType "work") (not (empty (lookPath "git-credential-manager"))) }}
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "azrepos:org/msazure"]
	username = pahealy@microsoft.com
{{ end }}
