{{- if eq .machineType "work" -}}
{{- if lookPath "az" -}}
{{- if fromJson (output "az" "account" "list" "--query" "contains([].tenantId, '70a036f6-8e4d-4615-bad6-149c02e7720d')" "-o" "tsv") -}}
{{ azureKeyVault "chezmoi-encrypt-age" "pahealyaks" }}
{{- end }}
{{- end }}
{{- end }}
